body{
  background-color: #777;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBtnContainer {
  position: absolute;
  top: 40%;
  left: calc(50% - 100px);
}

.HomeButton {
  background-color: #999;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 10px;

}

.Main {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #ccc;
  margin-top: 20px;
  height: 900px;
  background-color: #fff;
  position: relative;
}

.BadLogin {
  color: red;
}
